@forward 'variables';
@forward 'mixins';
@use 'reset';
@use 'global';
@use 'components/header';
@use 'components/footer';
@use 'components/hero';
@use 'components/projects';
@use 'components/about';
@use 'components/education';
@use 'components/contact';